body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

/* LINK FORMATTING */
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.center-horizontal {
    /*display: block;*/
    margin: 0 auto;
}

/* NAME + MENU */
.header-container{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-to-home {
    width: 100%;
    cursor: pointer;
}

/* MENU BUTTON TOGGLE */
.menu-container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 21px;
    height: 4px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
  }

/* MENU DROPDOWN CONTENT */
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 99%;
    z-index: 1;
  }

/* MENU LINKS */
.menu-content a, .header-txt {
    font-size: 10pt;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    font-weight: bold;
    background-color: rgb(238, 238, 238);
}
.change .menu-content {display: block;}


.logo {
    position: relative;
    margin-top: 0;
}

.logo-img {
    display: block;
    margin: auto;
}

.p-name {
    font-weight: bold;
    text-align: center;
}

.project-card {
    width: auto; 
    height: 400px;
    margin:auto;
}

.featured-img{
    height: 95%;
    width: 100%;
}

/* PROJECT */

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.project-img{
    /*width: 30vw;*/
    /*border-radius: 250px;*/
   /* margin-top: 25px; */
    display:block;
    margin:auto;
    /*min-height: 90%;*/
    max-width: 98%;
    max-height: 90%;
}

.project-subpage-txt{
    z-index: 1;
    /*font-family: monospace;*/
    font-size: 10pt;
    color: black;
    text-align: center;
}
 
.work, .work-link {
    position: relative;
    overflow: hidden; 
   /* background-color: rgb(238, 238, 238);*/
}
.work-link:hover{
    border: 1px solid gray;
}

.work-img, .work-img-link{
    width: 98%;
    margin: 10px, 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work-img-link:hover{
    transform: scale(1.2); 
    align-items: center;
}

.carousel-wrap {
   /* background-color: rgb(255, 130, 63);*/
    display: flex;
    overflow-x: auto;
    padding-top: 40px;
}

.carousel-wrap::-webkit-scrollbar{
    width: 1px;
}
.carousel-wrap::-webkit-scrollbar-thumb{
    margin-left: 15px;
    border-radius: 5px;
    border: 2px solid rgb(243, 243, 243);
}

.carousel{
    height: auto;
    padding-top: 30px;
    padding-bottom: 5px;
} 

.carousel img, .carousel-link img, .carousel-img  {
    height: 60vh;
    /*margin: 10px, 10px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-link:hover {
    transform: scale(1.1);
    align-items: center;
}

.work-txt {
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
}
.work-subtxt {
    text-align: center;
    font-family: monospace;
    font-size: 8pt;
}
.proj-txt {
    font-family: monospace;
    font-size: 10pt;
    margin-left: 5px;
}

.subpage-txt {
    margin-left: 5px;
}

.workheader-div {
    position: absolute;
}

span.stretch {
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
}
