body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    overflow: scroll;
}

.sticky-header {
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: white;
    height: 170px;

}
.sticky-header + .project-grid {
    padding-top: 170px;
}

.name-banner {
    display: flex;
    width: 100vw;
    font-weight: bold;
    justify-content: center;
    margin-top: 30px;
    font-size: 12pt;
}

.upper-nav{
    position: fixed;
    top: 5px;
    margin: 10px;
    right: 5px;
    border-color: black;
    border: 1px solid;
}

.upper-nav > a{
    font-size: 9pt;
    margin: 5px 15px;
    padding: 0px 5px;
}

.upper-nav > a:hover {
    background-color: black;
    cursor: pointer;
}

.project-nav {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.project-nav-first {
    width: 15%;
}

.project-nav-mode-cur{
    color: rgb(220, 220, 220);
}

.project-grid{
    display:block;
    width: 99vw;
}

.grid-item{
    display: flex;
    justify-content: space-between;
}

.grid-item img, .grid-item iframe, .grid-item video {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 700px;
}

.item-desc{
    display: none;
    position: fixed;
    top: 125px;
    left: 5px;
    z-index: 6;
    vertical-align: bottom;
    background-color: white;
    
}

.item-desc-header, .grid-item a:hover .item-desc, .grid-item img:hover .item-desc, .project-row{
    display: grid;
    text-align: left;
    width: 100vw;
}

.item-desc-header, .grid-item a:hover .item-desc, .grid-item img:hover .item-desc, .project-row{
    grid-template-columns: 15% 30% 20% 35%;
}



.item-desc-header{
    margin-top: 20px;
}

.grid-item a:hover .item-desc, .grid-item img:hover .item-desc{
    font-size: 11pt;
    margin-left: 2px;
}

.grid-item a:hover img{
    opacity: 0.7;
}

.project-col, .project-col-gen{
    margin: 5px;
}
.project-col-gen{
    font-weight: bold;
}

.center-horizontal{
    /*display: block;*/
    margin: 0 auto;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.project-row:hover{
    opacity: 1;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 12pt;

    /*height: 65vh;
    overflow: scroll;*/
}

.project-popup {
    display: none;
    width: 99vw;
    margin-left: 15vw;
    margin-bottom: 10px;
}

.project-row:hover .project-popup{
    display: block;
}

.project-rows-container {
    width: 99vw;
    margin-top: 170px;
    z-index: 5;
}

.project-thumb1{
    width: 60vw;
}
.project-thumb2{
    height: 30vw;
    width: auto;
}

.center-text {
    text-align: center;
}

.logo {
    position: relative;
    margin-top: 0;
}

.logo-img {
    display: block;
    margin: auto;
}

.about-text{
    margin-top: 10px;
    margin-left: 32%;
}

.indent-text{
    margin-left: 15%;
    padding-left: 6px;
}
